<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>{{hostvars[item].name}}</name>
  <description>{{hostvars[item].description}}</description>
  <remoteFS>/usr/local/jenkins</remoteFS>
  <numExecutors>{{hostvars[item].executors}}</numExecutors>
  <mode>NORMAL</mode>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.916.vd17b_43357ce4">
    <host>{{hostvars[item].host}}</host>
    <port>{{hostvars[item].port}}</port>
    <credentialsId>ssh-key</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>