- name: Install portainer agent
  become: true
  community.docker.docker_container:
    name: portainer_agent
    restart: true
    restart_policy: always
    ports:
      - "9001:9001"
      - "9443:9443"
      - "8000:8000"
    image:  portainer/agent:2.19.1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
