sv_public {{ xonotic_server_public }}
hostname "{{ xonotic_hostname }}"
sv_motd "{{ xonotix_motd }}"	
sv_termsofservice_url "{{ xonotic_termsofservice }}"
rcon_password "{{ xonotic_rcon_password }}"
maxplayers {{ xonotic_max_players }}
net_address {{ xonotic_net_address }}
port {{ xonotic_net_address }}
log_file "{{ xonotic_log_file }}"	
g_start_delay {{ xonotic_g_start_deleay }}
g_maplist "{{ xonotic_g_maplist }}"
g_maplist_shuffle {{ xonotic_g_maplist_shuffle }}	
g_maplist_mostrecent_count {{ xonotic_g_maplist_mostrecent_count }}
timelimit_override {{ xonotic_timelimit_override }}
fraglimit_override {{ xonotic_fraglimit_override }}
capturelimit_override {{ xonotic_capturelimit_override }}
g_domination_point_limit {{ xonotic_g_domination_point_limit }}
g_keyhunt_point_limit {{ xonotic_g_keyhunt_point_limit }}
g_lms_lives_override {{ xonotic_g_lms_lives_override }}
g_nexball_goallimit {{ xonotic_g_nexball_goallimit }}
g_ctf_ignore_frags {{ xonotic_g_ctf_ignore_frags }}
g_keyhunt_teams_override {{ xonotic_g_keyhunt_teams_override }}
gametype {{ xonotic_gametype }}
skill {{ xonotic_skill }}
minplayers {{ xonotic_minplayers }}
minplayers_per_team {{ xonotic_minplayers_per_team }}
alias bots "minplayers 4
g_maxplayers {{ xonotic_g_maxplayers }}
bot_prefix {{ xonotic_bot_prefix }}	
bot_suffix "{{ xonotic_bot_suffix }}"	
g_maplist_check_waypoints {{ xonotic_g_maplist_check_waypoints }}
g_maplist_votable {{ xonotic_g_maplist_votable }}
g_maplist_votable_suggestions {{ xonotic_g_maplist_votable_suggestions }}
g_maplist_votable_abstain {{ xonotic_g_maplist_votable_abstain }}
g_maplist_votable_nodetail {{ xonotic_g_maplist_votable_nodetail }}
sv_vote_gametype {{ xonotic_sv_vote_gametype }}
sv_vote_gametype_options "{{ xonotic_sv_vote_gametype_options }}"	
set sv_vote_gametype_mycustom_name "{{ xonotic_sv_vote_gametype_mycustom_name }}"
set sv_vote_gametype_mycustom_type "{{ xonotic_sv_vote_gametype_mycustom_type }}"	
set sv_vote_gametype_mycustom_description "{{ xonotic_sv_vote_gametype_mycustom_description }}"
sv_vote_commands "{{ xonotic_sv_vote_commands }}"	
sv_vote_master_commands "{{ xonotic_sv_vote_master_commands }}"
rcon_restricted_commands "{{ xonotic_rcon_restricted_commands }}"	
rcon_restricted_password "{{ xonotic_rcon_restricted_password }}"	
sv_vote_call {{ xonotic_sv_vote_call }}
sv_vote_master {{ xonotic_sv_vote_master }}
sv_vote_master_password "{{ xonotic_sv_vote_master_password }}"	
sv_vote_majority_factor {{ xonotic_sv_vote_majority_factor }}
sv_vote_majority_factor_of_voted {{ xonotic_sv_vote_majority_factor_of_voted }}
sv_maxidle {{ xonotic_sv_maxidle }}
sv_taunt {{ xonotic_sv_taunt }}
sv_autotaunt {{ xonotic_sv_autotaunt }}
sv_status_privacy {{ xonotic_sv_status_privacy }}
sv_ready_restart_after_countdown {{ xonotic_sv_ready_restart_after_countdown }}
sv_autoscreenshot {{ xonotic_sv_autoscreenshot }}
g_antilag {{ xonotic_g_antilag }}
sv_maxrate {{ xonotic_sv_maxrate }}
sys_ticrate {{ xonotic_sys_ticrate }}
sv_defaultcharacter {{ xonotic_sv_defaultcharacter }}
sv_defaultplayerskin {{ xonotic_sv_defaultplayerskin }}
sv_defaultplayercolors "{{ xonotic_sv_defaultplayercolors }}"	
g_fullbrightplayers {{ xonotic_g_fullbrightplayers }}
g_fullbrightitems {{ xonotic_g_fullbrightitems }}
g_balance_teams {{ xonotic_g_balance_teams }}
g_balance_teams_prevent_imbalance {{ xonotic_g_balance_teams_prevent_imbalance }}
g_ban_sync_trusted_servers "{{ xonotic_g_ban_sync_trusted_servers }}" 
g_spawnshieldtime {{ xonotic_g_spawnshieldtime }}
g_instagib {{ xonotic_g_instagib }}
g_weapon_stay {{ xonotic_g_weapon_stay }}
g_powerups {{ xonotic_g_powerups }}

// WARNING: anything below this line makes your server "impure"!
g_cloaked {{ xonotic_g_cloaked }}
g_grappling_hook {{ xonotic_g_grappling_hook }}
g_jetpack {{ xonotic_g_jetpack }}
g_midair {{ xonotic_g_midair }}
g_vampire {{ xonotic_g_vampire }}
sv_gravity {{ xonotic_sv_gravity }}

