services:
github_sync:
container_name: github_sync
image: "carnivuth/github_sync:latest"
restart: unless-stopped
environment:
HEALTHCHECK: "{{ github_sync_healthcheck }}"
NTFY: "{{ github_sync_ntfy }}"
ACCOUNT: "{{ github_sync_account }}"
volumes:
- "{{ github_sync_data_dir }}:/var/lib/github_sync"
- "/etc/timezone:/etc/timezone"
