services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    environment:
      TZ: UTC+2
      NTFY_BASE_URL: "{{ app_baseurl }}"
      NTFY_BEHIND_PROXY: true
      NTFY_AUTH_FILE: {{ ntfy_data_dir }}/user.db
      NTFY_AUTH_DEFAULT_ACCESS: "read-write"

    user: "{{ app_uid }}"
    volumes:
      - {{ ntfy_cache_dir }}:/var/cache/ntfy
      - {{ ntfy_data_dir }}:/var/lib/ntfy
      - {{ ntfy_conf_dir }}:/etc/ntfy
    ports: {{ app_ports }}
    restart: unless-stopped
