[Unit]
Description=Xonotic Server
Wants=network-online.target
After=network-online.target

[Service]
User=xonotic
WorkingDirectory=/usr/local/Xonotic

ExecStart=/bin/bash xonotic-linux-dedicated.sh +serverconfig server.cfg
Restart=always
RestartSec=30

StandardInput=null

[Install]
WantedBy=multi-user.target