---
services:
  navidrome:
    container_name: navidrome
    image: deluan/navidrome:latest
    user: {{ app_uid }}:1000 # should be owner of volumes
    ports: {{ app_ports }}
    restart: unless-stopped
    environment:
      # Optional: put your config options customization here. Examples:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
      ND_ENABLESHARING: true
      ND_BASEURL: "{{ app_baseurl }}"
      ND_LASTFM_APIKEY: "{{ navidrome_lastfm_apikey }}"
      ND_LASTFM_SECRET: "{{ navidrome_lastfm_secret }}"
      ND_PASSWORDENCRYPTIONKEY: "{{ navidrome_passwordencryptionkey }}"
      ND_BACKUP_PATH: /backup
      ND_BACKUP_SCHEDULE: "*/5 0 * * *"
      ND_BACKUP_COUNT: 7

    volumes:
      - "{{ navidrome_backup }}:/backup"
      - "{{ navidrome_data }}:/data"
      - "{{ navidrome_collection }}:/music:ro"
