---
services:
  navidrome:
    container_name: navidrome
    image: deluan/navidrome:latest
    user: {{ app_uid }}:1000 # should be owner of volumes
    ports: {{ app_ports }}
    restart: unless-stopped
    environment:
      # Optional: put your config options customization here. Examples:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: "{{ app_baseurl }}"
      ND_LASTFM_APIKEY: "{{ vault_lastfm_apikey }}"
      ND_LASTFM_SECRET: "{{ vault_lastfm_secret }}"
    volumes:
      - "{{ navidrome_data }}:/data"
      - "{{ navidrome_collection }}:/music:ro"
