services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    ports: {{ app_ports }}
    restart: unless-stopped
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "portainer_data:/data"
volumes:
  portainer_data:
    name: portainer_data
