---
services:
  taskchampion:
    image:  ghcr.io/gothenburgbitfactory/taskchampion-sync-server:main
    container_name: taskchampion
    user: "{{ app_uid }}"
    volumes:
      - {{ taskchampion_data_dir }}:/var/lib/taskchampion-sync-server
    ports: {{ app_ports }}
    restart: unless-stopped
