---
services:
  uptime_kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    volumes:
      - {{ kuma_data_dir }}:/app/data
    ports: {{ app_ports }}
    restart: unless-stopped
