---
telemetry:
  metrics:
    enabled: true
    address: 'tcp://:9959/metrics'
    buffers:
      read: 4096
      write: 4096
    timeouts:
      read: '6s'
      write: '6s'
      idle: '30s'

identity_validation:
  reset_password:
    jwt_secret: '{{ vault_authelia_jwt_secret }}'

authentication_backend:
  password_reset:
    disable: true
  file:
    path: '/config/users_database.yml'
    watch: true

access_control:
  default_policy: 'deny'
  rules:

    - domain: 'navidrome.{{ align_services_apps_domain }}'
      policy: 'one_factor'
      subject: 'group:navidrome'

    - domain: 'picard.{{ align_services_apps_domain }}'
      policy: 'one_factor'
      subject: 'group:picard'

    - domain: 'metube.{{ align_services_apps_domain }}'
      policy: 'one_factor'
      subject: 'group:metube'

    - domain: 'traefik.{{ align_services_apps_domain }}'
      policy: 'one_factor'
      subject: 'group:admins'

    - domain: 'prometheus.{{ align_services_apps_domain }}'
      policy: 'one_factor'
      subject: 'group:admins'

    - domain: 'backup-3ds.{{ align_services_apps_domain }}'
      policy: 'one_factor'
      subject: 'group:admins'

session:
  secret: '{{ vault_authelia_session_secret }}'

  cookies:
    - name: 'authelia_session'
      domain: '{{ align_services_apps_domain }}'
      authelia_url: 'https://{{ item.0.item | regex_replace('_', '-') }}.{{ align_services_apps_domain }}'

storage:
  encryption_key: '{{ vault_authelia_storage_encryption_key }}'
  local:
    path: '/config/db.sqlite3'

notifier:
  disable_startup_check: true
  smtp:
    address: 'smtp://127.0.0.1:25'
    sender: 'Authelia <admin@{{ align_services_apps_domain }}>'
    subject: '[Authelia] {title}'
    disable_require_tls: false

identity_providers:
  oidc:
    hmac_secret: '{{ vault_authelia_oidc_hmac_secret }}'
    jwks:

      - algorithm: 'RS256'
        use: 'sig'
        key: |
          {{ vault_authelia_oidc_jwks_private_key | indent( width=10) }}

    authorization_policies:
      immich:
        default_policy: 'deny'
        rules:
          - policy: 'one_factor'
            subject: 'group:admins'
          - policy: 'one_factor'
            subject: 'group:immich'

      gaseous:
        default_policy: 'deny'
        rules:
          - policy: 'one_factor'
            subject: 'group:admins'
          - policy: 'one_factor'
            subject: 'group:gaseous'

      opencloud:
        default_policy: 'deny'
        rules:
          - policy: 'one_factor'
            subject: 'group:admins'
          - policy: 'one_factor'
            subject: 'group:opencloud'

    clients:

      - client_id: '{{ vault_authelia_oauth_gaseous_client_id }}'
        client_name: 'gaseous'
        client_secret: '{{ vault_authelia_oauth_gaseous_client_secret }}'
        public: false
        authorization_policy: 'gaseous'
        require_pkce: true
        pkce_challenge_method: 'S256'
        redirect_uris:
          - 'https://gaseous.{{ align_services_apps_domain }}/signin-oidc'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_post'

      - client_id: '{{ vault_authelia_oauth_immich_client_id }}'
        client_name: 'immich'
        client_secret: '{{ vault_authelia_oauth_immich_client_secret }}'
        public: false
        authorization_policy: 'immich'
        require_pkce: true
        pkce_challenge_method: 'S256'
        redirect_uris:
          - 'https://immich.{{ align_services_apps_domain }}/auth/login'
          - 'https://immich.{{ align_services_apps_domain }}/user-settings'
          - 'app.immich:///oauth-callback'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'

      - client_id: '{{ vault_authelia_oauth_opencloud_client_id }}'
        client_name: '{{ vault_authelia_oauth_opencloud_client_secret }}'
        public: true
        authorization_policy: 'opencloud'
        require_pkce: true
        pkce_challenge_method: 'S256'
        scopes:
          - 'openid'
          - 'offline_access'
          - 'groups'
          - 'profile'
          - 'email'
        redirect_uris:
          - 'https://opencloud.carnivuth.org/'
          - 'https://opencloud.carnivuth.org/oidc-callback.html'
          - 'https://opencloud.carnivuth.org/oidc-silent-redirect.html'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
          - 'refresh_token'
        access_token_signed_response_alg: 'RS256'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'jwt'
