version: '3.2'

services:
  db:
    image: postgres
    restart: always
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB_=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD={{ vault.nextcloud_db_pwd }}

  app:
    image: nextcloud
    restart: always
    ports:
      - 80:80
    volumes:
      - nextcloud:/var/www/html
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD={{ vault.nextcloud_db_pwd }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ vault.nextcloud_admin_pwd }}
      - NEXTCLOUD_ADMIN_USER={{ vault.nextcloud_admin_username }}
    depends_on:
      - db

volumes:
  db:
  nextcloud:
