services:
  navidrome:
    container_name: navidrome
    restart: unless-stopped
    image: deluan/navidrome:0.60.0
    networks:
      - services
    environment:
      - "ND_SCANSCHEDULE=1h"
      - "ND_LOGLEVEL=info"
      - "ND_SESSIONTIMEOUT=24h"
      - "ND_ENABLESHARING=true"
      - "ND_LASTFM_ENABLED=true"
      - "ND_LASTFM_APIKEY=${ND_LASTFM_APIKEY}"
      - "ND_LASTFM_SECRET=${ND_LASTFM_SECRET}"
      - "ND_BACKUP_PATH=/backup"
      - "ND_BACKUP_SCHEDULE=0 18 * * *"
      - "ND_BACKUP_COUNT=7"
      - "ND_REVERSEPROXYWHITELIST=0.0.0.0/0"
      - "ND_PROMETHEUS_ENABLED=true"
      - "ND_DEFAULTSHAREEXPIRATION=24h"
      - "ND_DEFAULTDOWNLOADABLESHARE=true"
      - "ND_PROMETHEUS_METRICSPATH=${ND_PROMETHEUS_METRICSPATH}"
      # inserted cause authelia is configured
      - "ND_ENABLEUSEREDITING=false"
    expose:
      - 4533
    volumes:
      - "/mnt/containers/navidrome/backup:/backup"
      - "/mnt/containers/navidrome/data:/data"
      - "/mnt/containers/navidrome/collection:/music:ro"
    labels:
      # traefik labels
      - "traefik.enable=true"
      - "traefik.http.services.navidrome.loadbalancer.server.port=4533"
      # default entrypoint with authelia authentincation
      - "traefik.http.routers.navidrome.entrypoints=websecure"
      - "traefik.http.routers.navidrome.tls.certresolver=myresolver"
      - "traefik.http.routers.navidrome.rule=Host(`${HOST}`) && !PathPrefix(`/metrics`) && !PathPrefix(`/share/`)"
      - "traefik.http.routers.navidrome.middlewares=authelia@docker"
      # public access for share endpoint
      - "traefik.http.routers.navidrome-share.entrypoints=websecure"
      - "traefik.http.routers.navidrome-share.tls.certresolver=myresolver"
      - "traefik.http.routers.navidrome-share.rule=Host(`${HOST}`) && PathPrefix(`/share/`)"
      # deny access from internet for the metrics endpoint
      - "traefik.http.routers.navidrome-metrics.rule=Host(`${HOST}`) && PathPrefix(`/metrics`)"
      - "traefik.http.routers.navidrome-metrics.middlewares=deny@docker"
      # entrypoint using basic auth for subsonic api
      - "traefik.http.routers.navidrome-subsonic.tls.certresolver=myresolver"
      - "traefik.http.routers.navidrome-subsonic.rule=Host(`${HOST}`) && !PathPrefix(`/share/`) && PathPrefix(`/rest/`) && !Query(`c`, `NavidromeUI`)"
      - "traefik.http.routers.navidrome-subsonic.entrypoints=websecure"
      - "traefik.http.routers.navidrome-subsonic.middlewares=authelia-basicauth@docker"
      # homepage labels
      - "homepage.group=Personal Cloud"
      - "homepage.name=Navidrome"
      - "homepage.icon=navidrome.svg"
      - "homepage.href=https://${HOST}"
      - "homepage.description=Music streaming"
      # diun labels
      - "diun.enable=true"
      - "diun.watch_repo=true"
      - "diun.sort_tags=semver"
      - "diun.max_tags=3"
networks:
  services:
    name: services
    external: true
