#!/bin/bash
DATASTORES="{{ backupper_data_root }}"
REMOTE="{{ backup_remote }}"

for datastore in $DATASTORES; do
  if rsync --exclude 'lost+found' -Pavr "$datastore" "$REMOTE:"; then
    echo -e "Subject: $HOSTNAME sync with $REMOTE SUCCESS\n\n sync with $REMOTE done correctly" | sendmail root
  else
    echo -e "Subject: $HOSTNAME sync with $REMOTE FAILURE\n\n sync with $REMOTE failed" | sendmail root
  fi
done

