---
services:
  krawl:
    image: ghcr.io/blessedrebus/krawl:1.0.0
    container_name: krawl
    restart: unless-stopped

    networks:
      - services

    volumes:
      - /mnt/containers/krawl/data:/app/data

    environment:
      - CONFIG_LOCATION=config.yaml
      - TZ=Europe/Rome
      - DASHBOARD_SECRET_PATH=${DASHBOARD_SECRET_PATH}

    labels:
      # traefik labels
      - "traefik.enable=true"
      - "traefik.http.services.krawl.loadbalancer.server.port=5000"

      # default entrypoint with authelia authentincation
      - "traefik.http.routers.krawl.entrypoints=websecure"
      - "traefik.http.routers.krawl.tls.certresolver=myresolver"
      - "traefik.http.routers.krawl.rule=Host(`${HOST}`)"

      # homepage labels
      - "homepage.group=Monitoring and access control"
      - "homepage.name=Krawl"
      - "homepage.icon=krawl.svg"
      - "homepage.href=https://${HOST}"
      - "homepage.description=Honeypot"
networks:
  services:
    name: services
    external: true
