version: '3.8'

services:
  krawl:
    image: ghcr.io/blessedrebus/krawl:latest
    container_name: krawl
    networks:
      - services
    volumes:
      - /mnt/containers/krawl/wordlists.json:/app/wordlists.json:ro
    environment:
      - PORT=5000
      - DELAY=100
      - LINKS_MIN_LENGTH=5
      - LINKS_MAX_LENGTH=15
      - LINKS_MIN_PER_PAGE=10
      - LINKS_MAX_PER_PAGE=15
      - MAX_COUNTER=10
      - CANARY_TOKEN_TRIES=10
      - PROBABILITY_ERROR_CODES=0
      - SERVER_HEADER=Apache/2.2.22 (Ubuntu)
      - DASHBOARD_SECRET_PATH=${DASHBOARD_SECRET_PATH}
    restart: unless-stopped
    labels:
      # traefik labels
      - "traefik.enable=true"
      - "traefik.http.services.krawl.loadbalancer.server.port=5000"
      # default entrypoint with authelia authentincation
      - "traefik.http.routers.krawl.entrypoints=websecure"
      - "traefik.http.routers.krawl.tls.certresolver=myresolver"
      - "traefik.http.routers.krawl.rule=Host(`${HOST}`)"
      # homepage labels
      - "homepage.group=Monitoring and access control"
      - "homepage.name=Krawl"
      - "homepage.icon=krawl.svg"
      - "homepage.href=https://${HOST}"
      - "homepage.description=Honeypot"
networks:
  services:
    name: services
    external: true
